@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <table class="table-condensed center-stage meta">
        <tr>
            <td><a href="" class="tile transition_color">table</a></td>
            <td><a href="" class="tile transition_color">with</a></td>
            <td><a href="" class="tile transition_color">relative</a></td>
            <td><a href="" class="tile transition_color">size tiles</a></td>
    </table>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
        <div class="center-stage meta">
            <a href="" class="tile transition_color"><img class="tile-image" src="~/images/brand-house.svg" /></a>
            <a href="" class="tile transition_color">Courses Column 1</a>
            <a href="" class="tile transition_color">Instructors</a>
            <a href="" class="tile transition_color">Departments</a>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
        <div class="center-stage meta">
            <a href="" class="tile transition_color">Contrary Column 2</a>
            <a href="" class="tile transition_color">Lorem Ipsum</a>
            <a href="" class="tile transition_color">Popular</a>
            <a href="" class="tile transition_color">Lorem</a>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
        <div class="center-stage meta">
            <a href="" class="tile transition_color">Payables Column 3</a>
            <a href="" class="tile transition_color">Receivables</a>
            <a href="" class="tile transition_color">Receipts</a>
            <a href="" class="tile transition_color">Invoices</a>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
        <div class="center-stage meta">
            <a href="" class="tile transition_color">Properties Column 4</a>
            <a href="" class="tile transition_color">Projects</a>
            <a href="" class="tile transition_color">Work Orders</a>
            <a href="" class="tile transition_color">Progress</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
        <div class="center-stage meta">
            <a href="" class="tile transition_color">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.</a>
        </div>
        <div class="center-stage meta">
            <a href="" class="tile transition_color">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span>Vivamus</span> nec fermentum dolor. Nunc tincidunt metus vitae accumsan porttitor. Sed sit amet ipsum placerat, vestibulum elit quis, lobortis neque. Aliquam tempor ipsum at rutrum egestas. Proin hendrerit dui eget tempor condimentum.</a>
        </div>
    </div>
</div>
<br />
<div>
    <pre data-enlighter-language="sql" class="mochaEnlighterJS">
SELECT TOP (100) * FROM ...
    </pre>
</div>